.search-bar{
   display: flex;
   margin-left: 15px;  
   padding: 3px;
   background-color: #e27065;
}
.search-bar,
.search-bar .input-bar{
    background-color: #e27065; 
    color: white;
}
.input-bar{
    border: none;
    padding-left: 10px;
}
.input-bar:focus{
    outline: none;    
}

.search-bar:hover * {
    background-color: white;
    color: #949498;
   
}
.input-bar::-webkit-input-placeholder{
    color: white;
}
.input-bar:hover::-webkit-input-placeholder
{
    color: #949498;
}






